<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-o9N1j7k1kQ+U3KzF2bLF6z2w3z8z3g+zQ2l1z3hJkUo=" crossorigin=""/>
    <title>RealTime Tracking</title>
</head>
<body>
    <h1>hi zohaib</h1>

    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-o9N1j7k1kQ+U3KzF2bLF6z2w3z8z3g+zQ2l1z3hJkUo=" crossorigin=""></script>

    <script src="https://cdn.socket.io/4.8.1/socket.io.min.js" integrity="sha384-mkQ3/7FUtcGyoppY6bz/PORYoGqOl7/aSUMn2ymDOJcapfS6PHqxhRTMh1RR0Q6+" crossorigin="anonymous"></script>
    <script src="/public/js/script.js">

    </script>
</body>
</html>